<launch>
    <!-- Load the URDF/Xacro model of our robot -->
    <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find mbx1_description)/urdf/my_robot/my_robot_with_xtion.xacro'" />
    <param name="robot_description" command="$(arg urdf_file)" />
    
    <!-- Publish the robot state -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    	<param name="publish_frequency" value="20.0"/>
    </node>

    <!-- Provide simulated control of the robot MOVING joint angles (error if not using this sim node, unless provide a real one)-->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    	<param name="use_gui" value="True" />
    	<param name="rate" value="20.0"/>
    </node>


    <!-- My arduino robot base driver --> 
    <node name="arduino" pkg="ros_arduino_python" type="arduino_node.py" output="screen">
        <rosparam file="$(find ros_arduino_python)/config/my_arduino_params.yaml" command="load" />
    </node>
</launch>
